<a href="https://colab.research.google.com/github/HEEHiii/Pythonclass/blob/main/Homework4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#071

my_variable = ()

In [ ]:
#072

movie_rank = ('닥터 스트레인지', '스플릿', '럭키')

In [ ]:
#073

tuple1 = (1)

In [ ]:
#074

t = (1, 2, 3)
t[0] = 'a'

# 튜플은 immutable 하기 때문입니다.

TypeError: ignored

In [ ]:
#075

t = 1, 2, 3, 4

# 숫자형입니다.

In [ ]:
#076

# 튜플은 immutable 해서 수정이 불가능합니다.

In [ ]:
#077

interest = ('삼성전자', 'LG전자', 'SK Hynix')

data = list(interest)

print(data)

['삼성전자', 'LG전자', 'SK Hynix']

In [ ]:
#078

interest = ['삼성전자', 'LG전자', 'SK Hynix']

print(tuple(interest))

('삼성전자', 'LG전자', 'SK Hynix')

In [ ]:
#079

temp = ('apple', 'banana', 'cake')
a, b, c = temp

print(a, b, c)

# a = 'apple', b = 'banana', c = 'cake'로 일대일 대응하여 실행됩니다.

apple banana cake

In [ ]:
#080

print(tuple(range(2,99,2)))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [ ]:
#081

scores = [8.8, 8.9, 8.7, 9.2, 9.7, 9.9, 9.5, 7.8, 9.4]

*valid_score, b, c = scores

print(valid_score)

#082

a, b, *valid_score = scores
print(valid_score)

#083

a, *valid_score, c = scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.7, 9.9, 9.5]
[8.7, 9.2, 9.7, 9.9, 9.5, 7.8, 9.4]
[8.9, 8.7, 9.2, 9.7, 9.9, 9.5, 7.8]

In [ ]:
#084

temp = {}

In [ ]:
#085

Dict = {'메로나':1000, '폴라포':1200, '빵빠레':1800}

#086

Dict['죠스바'] = 1200
Dict['월드콘'] = 1500

print(Dict)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
#087

ice = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

print(ice['메로나'])

#088

ice['메로나'] = 1300
print(ice)

#089

del ice['메로나']
print(ice)

1000
{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}
{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
#090

#딕셔너리는 키값, 밸류값의 쌍으로 데이터가 저장되는 자료형입니다.
#키값인 '누가바'와  쌍인 밸류값을 입력하지 않았기 때문에 에러가 발생했습니다.