<a href="https://colab.research.google.com/github/HEEHiii/Pythonclass/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#051

movie_rank = ['닥터 스트레인지', '스플릿', '럭키']

print(movie_rank)


#052

movie_rank.append('배트맨')

print(movie_rank)

#053

movie_rank.insert(1, '슈퍼맨')
print(movie_rank)

#054

movie_rank.remove('럭키')
print(movie_rank)

#055

movie_rank.pop()
movie_rank.pop()

print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']
['닥터 스트레인지', '스플릿', '럭키', '배트맨']
['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
['닥터 스트레인지', '슈퍼맨']

In [ ]:
#056

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [ ]:
#057

nums = [1, 2, 3, 4 ,5 ,6 ,7]

print(min(nums))
print(max(nums))

1
7

In [ ]:
#058

nums = [1,2,3,4,5]

print(sum(nums))

15

In [ ]:
#059

cook = ['피자', '김밥', '만두', '양념치킨', '족발', '피자', ' 김치만두', '쫄면', '소시지',
'라면', '팥빙수', '김치전']

print(len(cook))

12

In [ ]:
#060

nums = [1, 2, 3, 4, 5]

print((nums[0]+nums[1])+nums[2]+nums[3]nums[4])/5)

SyntaxError: ignored

In [ ]:
#061

price = ['20150728', 100, 130, 140, 150, 160, 170]

price[1:]

[100, 130, 140, 150, 160, 170]

In [ ]:
#062

nums = [1, 2, 3, 4, 5, 6 ,7 ,8, 9, 10]

print(nums[0::2])


#063

print(nums[1::2])

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [ ]:
#064

nums = [1, 2, 3, 4, 5]

nums[4:0]

[]

In [ ]:
#065

interest = ['삼성전자', 'LG전자', 'Naver']

print(interest[0], interest[2])

삼성전자 Naver

In [ ]:
#066

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

print(" ".join(interest))

#067

print("/".join(interest))

#068

print("\n".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우
삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [ ]:
#069

string = "삼성전자/LG전자/Naver"

print("삼성전자/LG전자/Naver".split(/))

SyntaxError: ignored

In [ ]:
#070

data = [2, 4, 3, 1, 5, 10, 9]

data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]